.about {
  @include container;

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;

  padding: 4rem 2rem;

  .about-item {
    display: block;
    cursor: default;
    position: relative;

    padding: 2rem;
    padding-left: 6rem;

    border: solid 0.125rem $color-top;
    border-radius: 0.25rem;

    h4 {
      display: block;
      margin-bottom: 0.5rem;

      font-size: 1.375rem;
      font-weight: 400;
      line-height: 1.25;

      @media screen and (max-width: 479px) {
        font-size: 1.25rem;
      }
    }

    p {
      font-size: 1rem;

      @media screen and (max-width: 479px) {
        font-size: 0.875rem;
      }
    }

    @media screen and (max-width: 479px) {
      padding: 1.25rem 0;

      border: none;
      border-top: solid 0.125rem $color-top;
      border-radius: 0;

      &:last-child {
        border-bottom: solid 0.125rem $color-top;
      }
    }
  }

  .about-emoji {
    display: block;

    position: absolute;
    left: 1.5rem;
    top: 50%;

    font-size: 3rem;
    transform: translateY(-50%);


    @media screen and (max-width: 479px) {
      top: 1rem;
      left: calc(100% - 2.125rem);

      font-size: 1.5rem;
      transform: none;
    }
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    padding: 2rem 1.25rem;
  }

  @media screen and (max-width: 479px) {
    grid-gap: 0;
  }
}