.logo {
  display: block;
  position: relative;

  .logo-link {
    display: block;

    width: 12rem;
    height: 4rem;

    text-indent: -9999rem;

    background-image: url('/assets/images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media screen and (max-width: 479px) {
      width: 10rem;
      height: 3.5rem;
    }
  }
}