.menu {
  display: flex;
  align-items: center;

  margin-left: auto;

  font-size: 1rem;
  font-weight: 300;

  .menu-link {
    display: flex;
    align-items: center;

    margin: 0 2rem 0 0;
    padding: 0.25rem;

    color: $color-text;
    transition: color 0.25s;

    &:hover {
      color: $color-light;
    }

    @media screen and (max-width: 1023px) {
      margin-right: 1.5rem;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .menu-game {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0.5rem 2rem;

    color: $color-light;
    background-color: $color-orange;

    border: 0.125rem solid $color-orange;
    border-radius: 0.25rem;

    transition: background 0.5s;

    &:hover {
      background-color: transparent;
    }
  }

  @media screen and (max-width: 479px) {
    display: none;
  }
}