html * {max-height:99999px;}

body {
	background:#3a3a3c;
	color:#000;
	font-family:"Roboto Condensed", sans-serif;
	font-weight:400;
	font-size:16px;
}

body.vip { 
	background:url('/manage/assets/img/baks.jpg?3');
}

section.main {
	width:40em;
	margin:1em auto;
	padding:1em 0;
	background:#fff;

	border-radius:3px;
	box-shadow:3px 3px 3px 1px #222;
}


br.clear {
	clear:both;
}
	section.main > h2 { 
		text-align:center;
		font-size:1.5em;
		font-weight:300;
	}

	section.main > div {
		box-sizing:border-box;
		width:100%;
		padding:1em 2em;
		text-align:center;
	}

 	section.main > div:nth-child(2n) { 
		background:#eee;
	}

		section.main > div .buttons { 
			text-align:left;
			margin:1em 0 1em 0;
		}
 		section.main > div .buttons.x-1 {  
			float:left; 
			width:35%;
		}
  		section.main > div .buttons.x-2 {  
			float:right; 
			width: 35%;
			text-align:right;
		} 

			section.main > div .buttons > button {  
				display:block;
				width:100%;
				margin:1em .25em;

				padding:5px;
			}
 			section.main > div .buttons > button.approve {   
				margin-bottom:60px;
			}

		section.main textarea {
			width:45%;
			height:100px;
			margin-bottom:1em;
			float:left;
		}
 		section.main textarea.right { 
			float:right;
		}

	section.main > .q.m-approve {
		background:#dfd;
	}

 	section.main > .q.m-decline {
		background:#fdd;
	} 
