@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
  url('/assets/fonts/ubuntu-regular.woff2') format('woff2'),
  url('/assets/fonts/ubuntu-regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'),
  url('/assets/fonts/ubuntu-light.woff2') format('woff2'),
  url('/assets/fonts/ubuntu-light.woff') format('woff');
}