@mixin button() {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;

  background-image: linear-gradient(#1AC9FC, #1D73F1);
  border-radius: 4px;

  padding: 0.65rem 1.25rem;

  cursor: pointer;
  outline: none;

  &:hover {
    transform: scale(1.05);
    transition: all 0.25s;
  }

  @media screen and (max-width: 767px){
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  @media screen and (max-width: 410px){
    padding: 0.5rem 1rem;
  }
}


@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(190, 201, 255);
  }
}

.svg-elem-1 {
  animation: animate-svg-fill-1 1s ease-in 0.5s both;
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(240, 14, 150);
  }
}

.svg-elem-2 {
  animation: animate-svg-fill-2 1s ease-in 0.4s both;
}
