$color-light: #fff;
$color-text: #e4e4e4;
$color-orange: #ff633a;
$color-purple: #b454b7;
$color-bottom: #110f26;
$color-top:  #322e5a;

// Import config styles
@import "config/reset";

// Import fonts styles
@import "config/fonts";

// Import mixins
@import "config/mixins";

html, body {
  height: 100%;
}

html {
  background: $color-bottom;
  scroll-behavior: smooth;
}

body {
  padding: 2rem 2rem 1rem;
  font: 300 16px/1.5 'Ubuntu', sans-serif;

  color: $color-text;
  background: linear-gradient(to bottom, $color-top, $color-bottom);

  @media screen and (max-width: 479px) {
    padding: 1rem 1rem 0;
  }
}


// Import landing styles
@import "layout/header";
@import "layout/welcome";