:root {
  --color-bg-bottom: #110f26;
  --color-bg-top: #322e5a;
  --color-blackout: rgba(0, 0, 0, 0.875);
  --color-lines: rgba(0, 0, 0, 0.125);
  --color-popup: #2e2e3a;

  --color-first: #FF6642;
  --color-last: #B454B7;

  --color-light: #fff;
  --color-dark: #111;
}
