.banner {
  display: flex;
  position: relative;

  flex-flow: row nowrap;
  justify-content: space-between;

  background-color: #00ACDC;
  border-radius: 10px;

  width: 100%;

  padding: 1rem 2rem;

  .banner__image {
    display: flex;

    & > img {
      max-width: 13rem;
      height: auto;
    }
  }

  .banner__text {
    display: flex;
    flex-flow: column;

    padding: 0 1.5rem;

    .banner__text-title {
      @extend %banner-title;
      margin: 2rem 0 0.5rem;
    }

    .banner__text-description {
      width: 70%;
      @extend %head-lead;
    }
  }

  .banner__button {
    display: flex;
    flex-flow: row nowrap;

    justify-content: flex-end;
    align-items: flex-end;

    margin: 1rem 0;

    & > img {
      height: 50px;

      margin-right: 0.5rem;
    }
  }
}