.banner {
  display: flex;
  position: relative;

  justify-content: space-between;

  flex-flow: row nowrap;

  background-color: #00ACDC;
  border-radius: 10px;

  width: 100%;

  @media screen and (max-width: 960px) {
    flex-flow: row wrap;
  }

  .banner__image {
    width: 13rem;
    height: 13rem;

    @media screen and (max-width: 1023px) {
      width: 10rem;
      height: 10rem;
    }
    @media screen and (max-width: 410px) {
      width: 8rem;
      height: 8rem;
    }
  }

  .banner__text {
    display: flex;
    flex-flow: column;
    margin: 1rem 1rem 2rem;

    .banner__text-title {
      @extend %banner-title;
      margin: 0.5rem 0;
    }

    .banner__text-description {
      width: 60%;
      @extend %head-lead;

      @media screen and (max-width: 767px) {
        width: 80%;
      }
      @media screen and (max-width: 410px) {
        width: 100%;
      }
    }
  }

  .banner__button {
    display: flex;
    flex-flow: row nowrap;

    justify-content: flex-end;
    align-items: flex-end;

    margin: 1rem;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    @media screen and (max-width: 410px) {
      justify-content: flex-start;
    }

    & > img {
      height: 50px;
      width: auto;

      margin-right: 0.5rem;

      @media screen and (max-width: 1023px) {
        height: 40px;
      }
      @media screen and (max-width: 767px) {
        height: 30px;
      }
    }
  }
}