.cloud {
  display: block;
  position: relative;

  width: 100%;

  .cloud__image {
    display: block;
    position: relative;

    width: 60%;
    margin: 0 auto;

    object-fit: contain;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    .cloud__image-img {
      display: block;
      position: relative;

      max-width: 45rem;
      width: 100%;
      height: auto;

      z-index: 10;

      margin: 0 auto;

      @media screen and (max-width: 1023px){
        max-width: 35rem;
        margin: 0 auto;
      }

      @media screen and (max-width: 767px){
        max-width: 30rem;
      }

      @media screen and (max-width: 410px){
        max-width: 25rem;
      }

    }

    .cloud__image-svg {
      display: block;
      position: relative;
      z-index: -10;

      width: 100%;
      height: 100%;
    }
  }

  .cloud__question {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 20;
    top: 0;

    @media screen and (max-width: 767px){
      display: none;
    }

    & > img {
      width: 195px;
      object-fit: contain;

      //transform: scale(0.5, 0.5);
      //-ms-transform: scale(0.5, 0.5);
      //-webkit-transform: scale(0.5, 0.5);
    }

    .cloud__question-pair {
      display: block;
      position: absolute;

      width: 50%;
    }
  }

  .cloud__mobile {
    display: none;
    position: relative;

    margin: 2rem;

    & > img {
      width: 100%;
      height: auto;
    }

    @media screen and (max-width: 767px){
      display: block;
    }
    @media screen and (max-width: 410px){
      margin: 1rem;
    }
  }
}

#cloudpair-1 {
  width: 195px;
  height: auto;
  top: 0;
  left: 20%;
}

#cloudpair-2 {
  width: 270px;
  height: auto;
  top: 35%;
  left: 0;
}

#cloudpair-3 {
  width: 237px;
  height: auto;
  bottom: 15%;
  left: 5%;
}

#cloudpair-4 {
  width: 136px;
  height: auto;
  top: 12%;
  right: 12%;
}

#cloudpair-5 {
  width: 288px;
  height: auto;
  top: 40%;
  right: 0;
}

#cloudpair-6 {
  width: 322px;
  height: auto;
  bottom: 10%;
  right: 0;
}

#yellow-bubble {
  display: block;
  position: absolute;

  width: 100%;
  max-width: 37rem;

  top: 3rem;
  right: 2rem;

  animation: changeColor-3 5s infinite;

  @media screen and (max-width: 767px){
    top: 0;
    right: 0;
  }
}

#violet-bubble {
  display: block;
  position: absolute;

  width: 100%;
  max-width: 37rem;

  top: 5rem;
  right: 3rem;

  animation: changeColor-4 5s infinite;

  @media screen and (max-width: 767px){
    top: 0;
    right: 0;
  }
}

@keyframes changeColor-3 {
  from {
    fill: #FDB813;
  }
  50% {
    fill: #D67EFF;
  }
  to {
    fill: #FDB813;
  }
}

@keyframes changeColor-4 {
  from {
    fill: #D67EFF;
  }
  50% {
    fill: #FDB813;
  }
  to {
    fill: #D67EFF;
  }
}