.hashtag {
  display: flex;
  position: relative;
  flex-flow: row nowrap;

  background-color: #FDCD5C;
  border-radius: 10px;

  padding: 2rem 4rem;

  @media screen and (max-width: 767px) {
    flex-flow: column-reverse;
    padding: 1rem;
  }

  .hashtag__image {
    display: flex;
    position: relative;
    width: 40%;

    @media screen and (max-width: 1023px) {
      width: 50%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      justify-content: center;
    }

    & > img {
      width: 18rem;
      height: 30rem;

      @media screen and (max-width: 1023px) {
        width: 15rem;
        height: 25rem;
      }
      @media screen and (max-width: 767px) {
        width: 13rem;
        height: 21rem;
      }
      @media screen and (max-width: 410px) {
        width: 10rem;
        height: 17rem;
      }
    }
  }

  .hashtag__text {
    display: flex;
    position: relative;
    flex-flow: column;
    flex: 1 1 auto;

    width: 60%;

    margin-bottom: 2rem;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    .hashtag__text-title {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      @extend %h4;

      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }

    .hashtag__text-description {
      width: 80%;
      @extend %head-lead;
    }

    .hashtag__text-tag {
      margin-top: 4rem;
      align-items: flex-end;

      @media screen and (max-width: 1023px) {
        margin-top: 2.5rem;
      }
      @media screen and (max-width: 767px) {
        margin-top: 1.5rem;
      }

      .hashtag__text-tag-paragraph {
        @extend %hashtag;
      }
    }
  }
}

.hashtag__text-pic {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;

  transform: scale(-1, 1);

  @media screen and (max-width: 1023px){
    display: none;

  }

  & > img {
    width: 10rem;
    height: auto;
  }
}

.hashtag__link {
  display: inline-block;
  position: relative;

  border-bottom: 2px dashed #F00E96;
  z-index: 9;
  font-weight: 500;
}

.hashtag__link:hover::before {
  width: 100%;
}

.hashtag__link::before {
  transition-timing-function: linear;
  transition-duration: 0.3s;
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #FEB5E1;
}

.violet-gradient {
  background: linear-gradient(#6D107E, #F00E96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-gradient {
  background: linear-gradient(#EC008C, #FF4242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}