.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 100%;

  margin: 1rem 0;

  & > * {
    @media screen and (max-width: 1210px) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }

  .header__inner {
    display: flex;
    flex-flow: row nowrap;
    position: relative;

    align-items: flex-end;
  }

  .header__button {
    display: flex;
    position: relative;

    @include button();
  }
}