.head {
  display: block;
  position: relative;

  width: 60%;

  margin: 0 auto;
  padding-bottom: 4rem;

  @media screen and (max-width: 1023px){
    width: 80%;
  }
  @media screen and (max-width: 767px){
    width: 100%;
  }

  .head__title {
    display: block;
    position: relative;

    margin-bottom: 1.5rem;
    text-align: center;

    @extend %head-title;

    @media screen and (max-width: 767px){
      margin-bottom: 1rem;
      text-align: left;
    }
  }

  .head__lead {
    display: block;
    position: relative;

    width: 70%;
    margin: 0 auto;
    text-align: center;

    @extend %head-lead;

    @media screen and (max-width: 767px){
      width: 80%;
      margin: 0;
      text-align: left;
    }

    @media screen and (max-width: 410px){
      width: 90%;
    }
  }
}