.video {
  margin: 0 auto;
  width: 90%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  .video__youtube {
    width: 100%;
    height: 40vw;

    min-height: 18rem;
  }
}

//@media (min-aspect-ratio: 16/9) {
//  .video {
//    width: 90%;
//    height: auto;
//  }
//}
//
//@media (max-aspect-ratio: 16/9) {
//  .video {
//    width: auto;
//    height: 100%;
//  }
//}