.header {
  display: block;

  width: auto;
  margin: 2rem auto 1.5rem;

  img {
    display: block;

    width: auto;
    height: 2.875rem;
    max-width: 100%;

    @media screen and (max-width: 420px) {
      height: 10vw;
    }
  }

  &:active {
    transform: translateY(1px);
  }

  @media screen and (max-width: 420px) {
    margin: 1.25rem auto 0.75rem;
  }
}