html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

html {
  color: var(--color-light);
  background-color: var(--color-field-dark);
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;

  font: 400 16px/1.5 'Ubuntu', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

button {
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;

  color: inherit;
  background: transparent;
  border: 0;

  cursor: pointer;
}

input {
  color: var(--color-light);
  font-family: inherit;
}

textarea {
  color: var(--color-light);
  font-family: inherit;
  line-height: 1.25;
}

#root {
  display: block;
  position: relative;

  height: 100%;
  padding: 0 1rem;
}